<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolwin.XYT">

    <meta-data android:name="E4BD9D73359741718BAD570F91EA645A" android:value="E4BD9D73359741718BAD570F91EA645A" />
    <meta-data android:name="TD_CHANNEL_ID" android:value="pre.im" />
    <application
        android:name=".map.BMapApiApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/ochat_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:label="@string/ochat_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgetPwdActity"
             android:configChanges="locale|orientation"
              android:screenOrientation="portrait"
            android:label="@string/ochat_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="locale|orientation"
             android:screenOrientation="portrait"
            android:label="@string/ochat_app_name">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
              android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:label="@string/ochat_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProtocolActivity"
            android:label="@string/ochat_app_name"
               android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CompleteUserInfoActvity"
            android:label="@string/ochat_app_name"
               android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WriteUserInfoActivity"
            android:label="@string/ochat_app_name"
              android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity> <!-- .MainActivity  android:theme="@style/ActivityTheme_Light" -->
        <activity
            android:name="MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyGroupListActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingTab"
            android:label="@string/ochat_app_name"
             android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureActivity"
              android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".RotateImageActivity"
            android:label="@string/ochat_app_name"
             android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowImageActivity"
            android:label="@string/ochat_app_name"
             android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
      
        <activity
            android:name=".ChooseUserActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpWebViewActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedBackActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RemarkActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReportedActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlockListActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddActivity"
            android:configChanges="locale|orientation"
            android:icon="@drawable/logo"
            android:label="@string/add_friend"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
       
        <activity
            android:name=".AddPersonActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatDetailActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyAlbumActivity"
            android:configChanges="locale|orientation"
            android:label="@string/my_album"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MusicActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendMovingActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GroupCodeActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyFavoriteActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrivateSetActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModifyPwdActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TreeViewActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InviteActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchResultActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewFriendsActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
       
        <activity
            android:name=".CardUserDetailActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoomDetailActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriensLoopActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowMultiImageActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendsLoopDetailActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
             android:windowSoftInputMode="stateUnchanged|adjustResize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AreaActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlbumCommentActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavoriteDetailActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyMovingMessageListActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinRoomDetailActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetFriendsLoopAuthActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MettingActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ApplyMettingActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MettingDetailActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManagerMeetingActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ApplyMetListActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:configChanges="locale|orientation"
            android:label="@string/ochat_app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnspecified" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyBbsListActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendBbsActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BbsChatMainActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BbsDetailActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bbsProhibitionActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RedPacketActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RedpacketWebViewActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BbsChatActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImagePagerActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginMainActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BbsQuanXianActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JoinBBSActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BBSerweimaActivity"
            android:label="@string/ochat_app_name"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".wxapi.WXEntryActivity"
            android:label="@string/ochat_app_name"
            android:exported="true"
            android:launchMode="singleTop">
            <!--这个intent-filter不要忘了-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wxd5f5aa165bb85a47"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ImageFileAcitvity" >
        </activity>
        <activity
            android:name=".ImageGalleryActivity" >
        </activity>
        <activity
            android:name=".bbsUserActivity" >
        </activity>
        <activity
            android:name=".UserMenuActivity" >
        </activity>
        <activity
            android:name=".AddUserMenuActivity" >
        </activity>
        <activity
            android:name=".GrouperweimaActivity" >
        </activity>
        <activity
            android:name=".VideoMainActivity" >
        </activity>
        <activity
            android:name=".VideoPlayMainActivity" >
        </activity>
        <activity
            android:name=".RedpacketMapActivity" >
        </activity>
        <activity
            android:name=".OpenRedPacketActivity" >
        </activity>
        <activity
            android:name=".RedPacketListActivity" >
        </activity>
        <activity
            android:name=".ChatMainBbsActivity" >
        </activity>
        <service
            android:name=".service.SnsService"
            android:label="SnsService"
            android:process=":push" >
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <service android:name="com.talkingdata.sdk.TDAntiCheatingService"
            android:process="com.talkingdata.sdk.TDAntiCheatingService">  <!--用户质量评估Service可以配置在主进程或者单独进程-->
            <intent-filter>
                <action android:name="com.talkingdata.sdk.TDAntiCheatingService" />
            </intent-filter>
        </service>
    </application>

    <permission
        android:name="com.coolwin.XYT.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.wqdsoft.im.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 获取系统联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <!-- 摇一摇需要的权限 -->
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <!-- 微信支付 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    
</manifest>